.wrap_djedaj{
    max-width: 18.2em;
    height: 10em;
    margin: 220px auto;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
}
.wrap_djedaj:hover{
    cursor: pointer;
}
.wrap_djedaj span:nth-child(1),
.wrap_djedaj span:nth-child(2),
.wrap_djedaj span:nth-child(3){
    width: 200px;
    height: 7px;
    background-color: black;
    margin: 10px auto;
    border-radius: 4px;
    display: block;
   
}

.wrap_djedaj span:nth-child(1)::before,
.wrap_djedaj span:nth-child(2)::before,
.wrap_djedaj span:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 8px;
    background: #fff;
    margin-left: 20px;
    border-radius: 2px;
   
   
}
.wrap_djedaj:hover span:nth-child(1){
    
    transform: translate(20px,-4px) rotate(45deg);
    transform-origin: left top;
    background-color: crimson;
    border-radius: 4px;
    width: 150px;
    box-shadow: 10px 10px 10px 1px rgb(231, 160, 160);
}
.wrap_djedaj:hover span:nth-child(2){
    transform: scale(0);
}
/* 
.wrap_djedaj span:nth-child(2):hover{
    animation: line_2 2s linear;
    animation-iteration-count:calc(1);
}
@keyframes line_2{
    from {
        transform: rotate(360deg);
      
    }
    50% {
        opacity: 0;

    }
    to {
        opacity: 0;
        
    }

} */

.wrap_djedaj:hover span:nth-child(3){
    width: 150px;
    background-color: greenyellow;
    border-radius: 4px;
    box-shadow: 10px 10px 10px 1px rgb(168, 231, 160);
    transform: translate(-20px, -40px) rotate(-45deg);
    transform-origin: right bottom;

   
}
.wrapper_pendulum{
   max-width: 18.2em;
   height: 10em;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper_pendulum:hover span{
    animation-play-state: paused;

}
.sphere{
    content: "";
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 0;
    border-radius: 50%;
   -webkit-box-shadow: 0px 58px 17px -10px rgba(53, 53, 54, 0.589);
   -moz-box-shadow: 0px 58px 17px -10px rgba(53, 53, 54, 0.589);
    box-shadow: 0px 58px 17px -10px rgba(53, 53, 54, 0.589);
    
}

.sphere:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    filter: blur(5px);
    top: 10px;
    right: 15px;
   
}



.wrapper_pendulum div:first-child{
    animation: sphere 1.2s linear infinite;
}
.wrapper_pendulum div:last-child{
    animation: sphere2 1.2s linear infinite;
}
@keyframes sphere{
    0%{
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    25%{
        transform: rotate(45deg) translate(-70px) rotate(-45deg);
        animation-timing-function: ease-in;
    }
    50%{
        transform: rotate(0deg);
        animation-timing-function: linear;
       
    }
}

  @keyframes sphere2{
        0%{
            transform: rotate(0deg);
            animation-timing-function:  linear;
        }
        50%{
            transform: rotate(0deg);
            animation-timing-function: ease-out;
        }
        75%{
            transform: rotate(-45deg) translate(70px) rotate(45deg);
            animation-timing-function:ease-in;
           
        }
  
}
.wrapper_pendulum div:nth-child(1){
    background:#0b4165;
     
}
.wrapper_pendulum div:nth-child(2){
    background: rgb(2, 60, 99);
}
.wrapper_pendulum div:nth-child(3){
    background: linear-gradient(95deg,rgb(2, 60, 99) 50%,#7e333e);
}
.wrapper_pendulum div:nth-child(4){
    background: linear-gradient(95deg,rgb(2, 60, 99) ,#9d3838);
}
.wrapper_pendulum div:nth-child(5){
    background: #b64c4c ;
}
.wrapper_pendulum div:nth-child(6){
    background: #bd4444;
}
.wrapper_pendulum div:nth-child(7){
    background:#d84848;
}


