.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    width: 300px; 

}
.block{
   
    width: 50px;
    height: 50px;
    background-color: rgb(128, 128, 128);
}
.block:nth-child(4n-1){
    background-color: red;
}
.block:nth-child(21),
.block:nth-child(22),
.block:nth-child(24){
    background-color: blue;
}
.btn{
   display: flex;
   justify-content: center;

}
.btn::before,
.btn::after{
    content: '';
    position: absolute;
    width: 200px;
    border-top: 2px solid rgba(196, 196, 196, 1);
    border-bottom: 2px solid rgba(196, 196, 196, 1);
    height: 8px;
    margin: 35px 0;
}
.btn::before{
    left: 270px;
}
.btn::after{
    right: 270px;
}
button{
 font-size: 24px;
 font-weight: 700;
 padding: 30px 100px;
 border-radius: 50px;
 border: none;
 background-color: rgba(68, 211, 168, 1);
 color: rgba(255, 255, 255, 1);
 cursor: pointer;
}